<p>
  <label for="alias_address">Endereço:</label><br/>
  <%= f.text_field :address %>
</p>
<p>
  <label for="alias_goto">Para:</label><br/>
  <%= f.text_area :goto %>
</p>
<p>
  <label for="alias_dominio">Domínio:</label><br/>
  <%= f.collection_select(:dominio_id, Dominio.find(:all), :id, :domain, {}, { :disabled => !@alias.new_record? }) %>
</p>
<p>
  <label for="alias_active">Situação:</label>
  <%= f.check_box :active %>
</p>